@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FAE3D9, #FFB6B9);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #815c5d8f;
}

h1 {
    color: #8AC6D1;
    text-align: center;
    text-shadow: 1px 1px 2px #49696e9a;
}

h2 {
    color: #BBDED6;
}

p {
    text-align: justify;
}