@font-face {
    font-family: 'idroid';
    src: url(fonts/idroid.otf) format('opentype');
}
body {
    background-color: #84E1AD;
    text-align: justify;
    font-weight: lighter;
}

header {
    background-image: linear-gradient(180deg, #37C777, #1e6d41, #123f26);
    padding: 0.625em;
    margin: -1.32em;
}

.cabecalho  {
    color: white;
    text-align: center;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.363);
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 0.625em;
    padding: 1px 1px;
    
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 0px 16px;
    text-align: justify;
}

#principal {
    font-family: 'idroid';
    color: #1e6d41;
    padding: 29px 0px 0px 0px;
}

h2 {
    font-family: 'idroid';
    color: #1e6d41;
    background-image: linear-gradient(to right, #84e1ac9f, white);
}

.video {
    background-color: #123f26;
    text-align: center;
    margin: -16px;
    padding: 13px;
}

iframe {
    margin: auto;
}

h3 {
    background-color: #2FA866;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.curiosidades {
    background-color: #C5EBD6;
    border-radius: 10px;
    margin: auto;
    padding: 0px 10px 10px 10px;
}

footer {
    background-color: #123f26;
    color: white;
    text-align: center;
}
.finalizacao {
    padding: 0px 0px 20px 0px;
}